<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<!-- Create your form here!
 -->
 <form action="/" method="POST">
	<form action="/ method="POST">
        <label for="quote">Quote:</label><br>
        <input type="text" id="quote" name="quote" placeholder="quote" required><br>

        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"  placeholder="auther"><br>

        <label for="age">Author's Age:</label><br>
        <input type="number" id="age" name="age"  placeholder="age "required><br>

        <input type="submit" value="Submit">
 </form>
 
</body>
</html>